/* DoctorsProfile.css */
.slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

@media (min-width: 768px) {
    .slider-item {
        min-width: 33.3333%;
    }
}
